h2 {
    padding: 0px;
    text-align: center;
    font-size: 99px;
    color: #00ffee;
}
html {
    background-color: black;
    box-sizing: border-box;
}
@media(max-width:480px) {
    h2 {
        font-size: 25px;
    }
    
}
body {
    text-align: center;
}