h2{
    padding: 0px;
    text-align: center;
    font-size: 99px;
    color: #00ffee;
}
html{
    background-color: black;
}
@media(max-width:480px){
    h2{
        font-size:25px ;
    }    
}
h2:hover{
    transition: 0.5s ease-in;
    text-shadow: 3px 2px 4px  #ffffff;
    font-size: 110px;
}
body{
    text-align: center;
}
img{
    display: inline-block;
    padding: 0px;
    height: 25%;
    width: 25%;
    margin-bottom: 0px;

}
img:hover{
    transition: 2s ease-in-out;
    height: 30%;
    width: 30%;
}