h2 {
    padding: 0px;
    text-align: center;
    font-size: 99px;
    color: #00ffee;
}
html {
    background-color: black;
    box-sizing: border-box;
}
@media(max-width:480px) {
    h2 {
        font-size: 25px;
    }
    
}
body {
    text-align: center;
}
img {
    display: inline-block;
    padding: 0px;
    height: 25%;
    width: 25%;
    margin-bottom: 0px;

}
